[program:hbase-regionserver]
user={{ hbase_user }}
#directory={{ hbase_install_dir }}
command={{ hbase_install_dir }}/bin/hbase --config {{ hbase_conf_dir }} regionserver start
stopsignal=KILL
autostart=true
autorestart=true
stdout_logfile={{ hbase_log_dir }}/hbase-regionserver.out.log
stderr_logfile={{ hbase_log_dir }}/hbase-regionserver.err.log
