[program:hbase-regionserver]
user={{ hbase_user }}
command={{ hbase_install_dir }}/{{ hbase_version }}/bin/hbase --config {{ hbase_conf_dir }} regionserver start
stopsignal=KILL
autostart=true
autorestart=true
stdout_logfile={{ hbase_log_dir }}/hbase-regionserver.out.log
stderr_logfile={{ hbase_log_dir }}/hbase-regionserver.err.log
